.container .page-a{
    width: 100%;
    height: 100%;
    background-image: url("../images/a/page-a-bg.png");
    position: absolute;
    z-index: 5;
}

/*男孩与雪橇*/
.chs-boy{
    width: 5rem;
    height: 1.5rem;
    position: absolute;
    z-index: 3;
    top: 0.1rem;
    right: -3rem;
    transform: scale(0.1);
    background: url("../images/a/boy-sleigh-car.png") -300% -100%;
    background-size: 400% 100%;
}

.chs-boy-deer{
    -webkit-animation: chsBoyDeer 0.75s steps(3, end) infinite;
    -moz-animation: chsBoyDeer 0.75s steps(3, end) infinite;
}

@-webkit-keyframes chsBoyDeer {
    0% {background-position: -0% 100%;}
    100% {background-position: -300% 100%;}
}
@-moz-keyframes chsBoyDeer {
    0% {background-position: -0% 100%;}
    100% {background-position: -300% 100%;}
}

.boy-stop-animate{-webkit-animation-play-state: paused;}

.window-animation{
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
}

.window-transition{
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
}